


.Court { 
    /* background: url("../cancha_gde.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 80rem; */
    width: 100%;
    position: relative;
    
  }


.Court img{
  height: 80vh;
  width: 100%;
}
